/* body {
	text-align: center;
    margin: 0;
    height: 100%;
}
h1 {
	font-family: "Raleway", "Courier New", sans serif;
	color: gray;
	letter-spacing: 1px;
	font-weight: 400;
	font-style: 45px;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0;
}
a {
	font-family: "Raleway", "Courier New", sans serif;
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-style: 18px;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
}
a:hover {
	color: white;
}
h2 {
	font-family: "Raleway", "Courier New", sans serif;
	color: 00xOD2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-style: 20px;
	text-decoration: none;
	text-transform: uppercase;
}
p {
	font-family: "Droid Serif", "Raleway", "Courier New", sans serif;
	line-height: 26px;
	font-style: 18px;
}
header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}
nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0px;
}
nav a {
	color: #FFFFFF;
	margin: 0px 20px;
}
main {
    	width: 850px;
	margin: 35px auto;}
img {
	margin: 40px 8px 0px 8px;
}
footer {
	text-transform: uppercase;
	padding: 0px 20px;
	background-color: #0D2C40;
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright {
	font-family: "Raleway", "Courier New", sans serif;
	float: left;
}
.message{
	font-family: "Raleway", "Courier New", sans serif;
	float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name {
	color: #F15B31;
	font-weight: 700;
} */



main{
    width: 850px;
    margin:35px auto;
}
body{
    margin: 0;
    text-align: center;
}
header{
    background-color: #F15B31;
    color:white;
    padding: 30px 20px 30px 20px;
}
nav{
    background-color: #00A6B3;
    /* color: #00A6B3; */
    padding: 20px 0 20px 0;
}
a{
    margin: 0 20px 0 20px;
    color: white;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    line-height: 1.5;
}
a:hover{
    background-color: white;
    color: #00A6B3;
    
}
h1{
    font-family: "Raleway", sans-serif;
font-weight: 400;
    margin: 0;
}
p{
    font-family: "Droid Serif", serif;
}

img{
    margin: 40px 8px 8px 0;
}
footer{
    text-transform: uppercase;
    padding: 20px 0 20px 0;
    background-color: #0D2C40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
}
.copyright{
font-family: "Raleway";  
float: left;
}
.message{
    font-family: "Raleway";
    float: right;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
    }
    .name{
        color: #F15B31;
        font-weight: 700;
    }